DIGITALOCEAN_TOKEN=YOUR_SUPER_SECRET_TOKEN
DROPLET_NAME=minecraft-unit-00
SNAPSHOT_NAME=minecraft-unit-00-snapshot
PROJECT_NAME=mc.hedlx.com
REGION=ams3
SIZE=s-2vcpu-2gb
DOMAIN_NAME=hedlx.com
HOST_NAME=mc.hedlx.com

TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=TELEGRAM_CHAT_ID